.ani-body {
    display: flex;
    justify-content: center;
    position: relative;
}

.box-pan {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: box-pan-animation 10s linear;
    animation-fill-mode: forwards
}

.boxbody {
    animation: increase-animation 10s linear;
    animation-fill-mode: forwards
}

.rays {
    margin-top: 21%;
    transform: scale(1.5);
    animation: rays-animation 10s linear;
    animation-fill-mode: forwards
}

.seeklogo {
    width: 59%;
    height: 59%;
    margin-top: -5%;
    z-index: 10;
    animation: seeklogo-animation 10s linear;
    animation-fill-mode: forwards
}

.slowshow {
    animation: slow-show 10s linear;
    animation-fill-mode: forwards
}

.lootbox {
    animation: Shake 1.5s linear infinite;
    animation-fill-mode: forwards
}

.lootbox_opened2 {
    transform: scale(1.2);
    margin-right: 20%;
    margin-bottom: 3%;
    animation: open1-animation 10s linear;
    animation-fill-mode: forwards
}

.lootbox_opened3 {
    transform: scale(2);
    margin-top: 55%;
    margin-right: 5%;
    animation: open3-animation 10s linear;
    animation-fill-mode: forwards
}

@keyframes rays-animation {
    0% {
        opacity: 0;
    }

    55% {
        opacity: 0;
    }

    60% {
        opacity: 0.3;
    }

    62% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.4;
    }

}

@keyframes Shake {
    0% {
        transform: rotate(6deg);
    }

    10% {
        transform: rotate(-7deg);
    }

    20% {
        transform: rotate(6deg);
    }

    30% {
        transform: rotate(-7deg);
    }

    40% {
        transform: rotate(6deg);
    }

    50% {
        transform: rotate(0deg);
    }
}

@keyframes seeklogo-animation {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    10% {
        opacity: 0;
        transform: scale(1);
    }

    11% {
        opacity: 0;
        transform: scale(0.5);
    }

    63% {
        opacity: 0;
        transform: scale(0.5);
    }

    70% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1.5);
    }
}

@keyframes increase-animation {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    1% {
        opacity: 0.7;
    }

    20% {
        opacity: 1;
        transform: scale(1.5);
    }

    61% {
        opacity: 1;
        transform: scale(1.5);
    }

    62% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes open1-animation {
    0% {
        opacity: 0;
    }

    59% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    62% {
        opacity: 1;
    }

    63% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes open3-animation {
    0% {
        opacity: 0;
    }

    61.5% {
        opacity: 0;
    }



    62.5% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes box-pan-animation {
    0% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slow-show {
    0% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}